*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, rgba(119, 58, 233, 0.534), rgb(182, 32, 32));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container{
    width: 400px;
    background: white;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.txtb{
    border-bottom: 2px solid;
    position: relative;
    margin: 30px 0;
}

.txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

img.admin-img{
    margin-left: 110px;
    margin-bottom: 50px;
    display: block;
    border-radius: 25%;
    
    
}

.logbtn {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 9px;
    background-image: linear-gradient(120deg, rgba(58, 104, 233, 0.534), rgb(230, 56, 56));
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
}

.logbtn:hover {
    background-image: linear-gradient(120deg, rgba(106, 137, 224, 0.616), rgb(241, 52, 52));
    font-size: 19px;
}